/* --------------------
 VARIABLES 
---------------------*/

/* misc */
$browser-context: 16;

/* colors */
$baseColor: #2f2f2f; // dark grey
$lightColor: #fff; // white
$mainColor: #52f5ff; // cyan
$mainColorDark: #34969c; // darker cyan
$accentColor: #fe1314; // red
$bgColor1: #dad6d3; // light tan
$bgColor2: #5d5a58; // brown/grey
$bgColor3: #f4f0ee; // off white

/* fonts */
$headerFont: Patua One;
$bodyFont: Actor;

/* padding */
$globalPadding: .8em;


/* grid */
$total-columns: 10;
$column-width: 4em; // each column is 4em wide
$gutter-width: 1em; // 1em gutters between columns
$grid-padding: 0; // grid-padding equal to gutters

$desktopBreak: 12;
$tabletBreak: 7;
$mobileBreak: 5;
 

/* --------------------
 FONT STYLING
---------------------*/
html{
	background-color: $bgColor3;
}

body {
    font-size: 1.2em;
    line-height: 1.4em;
    font-family: $bodyFont, sans-serif;
    color: $baseColor;
}

p {
	margin-bottom: .5em;
}

a {
	@include link-colors($accentColor, tint($accentColor, 40), darken($accentColor, 10%));
	@include hover-link;
	font-size: .8em;
}

.moreLink{
	display: block;
	@include pxtoem(padding-top, 15);
	clear: left;
}

.headerDark{	
    color: $baseColor;
    text-transform: uppercase;	
}

.headerLight{
    color: $lightColor;
    text-transform: uppercase;	
}

.bodyDark{
    color: $baseColor;
}

.bodyLight{
    color: $lightColor;
}

.genre{
    font-size: 2.1em;
    line-height: 1.2em;
    font-family: $headerFont, sans-serif;	
    color: $mainColorDark;
}

#venues LI{
    font-size: 1.2em;
    font-family: $headerFont, sans-serif;	
    color: shade($baseColor, 30);	
}

.formText{
    font-family: $bodyFont, sans-serif;	
    font-size: .75em;
    color: $bgColor2;	
    border-style: none; 
	background-color: $bgColor1; 
	padding: 5px;	
}

.btn{
	width: 200px;
	background-color: $mainColor;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

h1{
    font-size: 2em;
    line-height: 1.4em;
    font-family: $headerFont, sans-serif;
    text-transform: uppercase;
}

.linkAccent{
	@include link-colors($accentColor, lighten($accentColor, 20%), darken($accentColor, 10%));	
}


/* --------------------
 PICTOGRAMS
---------------------*/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?#iefix") format('embedded-opentype'), url("../fonts/fontello.woff") format('woff'), url("../fonts/fontello.ttf") format('truetype'), url("../fonts/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 1;
  line-height: 1em;
  color: $bgColor3; 
  @include	pxtoem(padding-right, 10);
}

.icon-mail:before { 
content: '\2709';

} 
.icon-facebook:before { content: '\f300'; } 
.icon-twitter-bird:before { content: '\f303'; } 
.icon-tumblr:before { content: '\f311'; } 
.icon-lastfm:before { content: '\f318'; } 
.icon-picture:before { content: '🌄'; } 
.icon-cloud:before { content: '\2601'; } 



/* --------------------
 OTHER ELEMENTS
---------------------*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.textForOther{
	display:none;
}