/* --------------------
 IMPORTS
---------------------*/
/* extensions */
@import "compass/reset";
@import "susy";
@import "compass";

/* SCSS/CSS */
@import 'mixins';
@import 'base';
@import 'main';


/* --------------------
 PAGE STYLES
---------------------*/

/* INTRO */
.featureImage{
	max-width: 100%;
	position: relative;
	text-align: right;
}

#intro{
	background: black;
	position: relative;
	text-align: right;
}

#intro .introBox{
	background-color: shade($mainColor, 20);
	padding: $globalPadding;
	@include opacity(.9);
	text-align: left;
}



/* GENRES */
#genres{
	background-color: $bgColor1;
	padding: $globalPadding;
}


#venues{
	background-color: $bgColor2;
	padding: $globalPadding;
}

#venues ul, #social ul{
	overflow: auto;
}

#venues li, #social li{
	@include pxtoem(padding-top, 10);
	text-wrap:none;	
	float:left;
	width: 50%;
}


/* MIXES */
#mixes{
	background-color: $bgColor1;
	padding: $globalPadding;
}

#mixes iframe{
	float: left;
	overflow: auto;
	@include pxtoem(padding, 4);
}

.soundClouldPlayer{
	width: 100%;
}


/* SIGNUP */
#signUp{
	background-color: $bgColor2;
	padding: $globalPadding;
	overflow: auto;
}

#mailChimpForm{
	@include pxtoem(width, 450);
}

input {
	cursor: pointer;
	outline: none;
	background-color: $bgColor1;
	color: $bgColor2;
	height: 1.7em;
	height: 2.3em;
	width: 16em;
	padding-left: .4em;
	margin-bottom: 1em;
	margin-top: .8em;
	font-size: .9em;
    font-family: $bodyFont, sans-serif;
}
 
input:hover {
	background-color: $bgColor3;
	color: $bgColor2;
}
 
.formButton{
	color: $bgColor2;
	background-color: $mainColor;
	width: 5em;
	padding: 6px;
	margin-top: .8em;
	border: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

#signUp img {
	display: none;
}

/* SOCIAL LINKS */
#social{
	background-color: $bgColor1;
	padding: $globalPadding;
}

#social div{
	-webkit-border-radius: 1em;
	width: 2em;
	height: 2em;
	background: $bgColor2; 
	@include opacity(.4);
	line-height: 2em;
    margin-left: auto;
    margin-right: auto;
	float: left;
}

#social div:before{
	@include pxtoem(padding-left,6);
}

#social a{
	text-align: center;
	line-height: 2em;
	padding-left: .6em;
}

/* --------------------
 RWD LAYOUT
---------------------*/
 
#page {
	@include container($total-columns, $desktopBreak);
}

/* Tablet Layout */
@include at-breakpoint($tabletBreak) {	
	#intro .introBox{
		position: absolute;
		right: 0;
		@include pxtoem(bottom,40);
		@include pxtoem(width, 400);
	}
	
	.genre{
		font-size: 3.5em;
    	line-height: 1.2em;
	}
	
	#social li, #venues li{width: 33%;}
	
	#mixes iframe{width: 47%;}
	
	#signUp #mailChimpForm { @include span-columns(4,7); }
	#signUp img { @include span-columns(3 omega,7);}
	#signUp img {display: block; }
}

/* Desktop Layout */
@include at-breakpoint($desktopBreak) {	
	#signUp img {max-width: 100%; display: block;} 
}

